

.card-buttons{
    display:flex;
    justify-content: center;
    gap:1rem;
    margin-top: 0.5rem;
}

.box-total{
    text-align: center;
    margin: auto;
    margin-top: 15px;
    }

.empty-cart {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;

}

.message-cart {
    font-size: 30px;
}