.container-products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-reviews {
  border: 2px solid gray;
  gap: 2px;
  margin-bottom: 5px;
  text-align: center;
  width: 80%;
}



.card-reviews {
  width: 100%;
  text-align: center;
  align-content: center;
  margin-bottom: 5px;
  border: 1px black solid;
}
